.input-year{
    display: inline-flex;
    padding: 10px 45px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px 0px 0px 20px;
    background: #D7D7D7;
}

.button-year{
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
}