@import '~node_modules/modern-normalize/modern-normalize.css';
html {
    scroll-behavior: smooth;
}

body {
    font-family: $mainFonts;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    // color: $primarytextColor;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    // color: $secondaryTextColor;
    text-decoration: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

li {
    list-style-type: none;
}
.items-js:not(:last-child){
    border-bottom: 1px solid #000;
}

input {
    outline: none;
}

h1 {
    display: block;
    color: $textColor;

    font-family: $mainFonts;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 404px;
    margin-right: 403px;
    margin-top: 36px;
}

.hero-title{
    font-size: 24px;
    margin-left: 352px;
    margin-right: 352px;
}

input{
    border-radius: 20px 0px 0px 20px;
    background: #D7D7D7;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);


}

.button-input{
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
    background-image: url(../img/button/Group104.png);
    background-size: cover;
}
