.dino-section{
    border-top: 1px solid black;
}

.dino-section-title{
    color: #000;

    font-size: 16px;
    font-weight: 400;
    text-align: center;

    margin-bottom: 36px;
}

.game{
    position: relative;

    width: 720px;
    height: 240px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}

.dino{
    position: absolute;
    bottom: 0;
    
    width: 60px;
    height: 60px;
    background-image: url('/src/img/dino/dino_game.png');
    background-size: 60px 60px;
}

.cactus{
    position: absolute;
    bottom: 0;
    left: 650;

    width: 35px;
    height: 55px;
    background-image: url('/src/img/dino/cactus_game.png');
    background-size: 35px 55px;
    
    animation: cactusAnim 1.2s infinite linear;
}

@keyframes cactusAnim {
    0%{
        left: 650px;
    }
    
    100%{
        left: -50px;
    }
}

// .big-cactus{
//     position: absolute;
//     bottom: 0;
//     left: 1000;

//     width: 35px;
//     height: 55px;
//     background-image: url('/src/img/dino/cactus_game.png');
//     background-size: 35px 55px;

//     transform: scale(-1, 1);

//     animation: bigCactusAnim 1.2s infinite linear;
// }

// @keyframes bigCactusAnim {
//     0%{
//         left: 800px;
//     }
    
//     100%{
//         left: -50px;
//     }
// }

.jump{
    animation: jump 0.3s linear;
}

@keyframes jump {
    0%{
        bottom: 0px;
    }

    20%{
        bottom: 40px;
    }

    40%{
        bottom: 60px;
    }

    60%{
        bottom: 80px;
    }

    80%{
        bottom: 60px;
    }

    100%{
        bottom: 0px;
    }
}