.container{
    position: relative;
}

.contact-list{
    font-style: Montserrat Alternates;
    position: absolute;
    top: 40px;
left: 320px;
font-size: 12px;
text-align: left;
color: #000000;

}

.u-addres{
    position: absolute;
    background: #D7D7D7;
border: none;
    left: 600px;
    top: 40px;
    padding: 10px 80px 10px 10px;
    gap: 10px;
    border-radius:  50px 50px;
    opacity: 0px;
}
.num-li{
    font-family: Montserrat Alternates;
    font-size: 12px;
    line-height: 20.4px;
    text-align: left;
    color: #000000;
}
.subscribe{
    font-family: Montserrat Alternates;
font-size: 12px;
color: #FFFFFF;
width: 107px;
height: 35px;
position: absolute;
top: 40px;
left: 940;
padding: 10px 0px 0px 0px;
gap: 10px;
border-radius: 50px 50px ;
background:  #000000;
border: none;
text-align: center;


}
.PS{
    position: absolute;
top: 99px;
left: 600;


    color: #000000;
    font-family: Montserrat Alternates;
    font-size: 10px;
    line-height: 7.31px;
    text-align: left;
    
}


.logo-foot{
fill: currentColor;
position: absolute;
top: 90px;
left:320px ;
}

  


.modal-ft{
    background: #FFFFFF;
    width: 463px;
    height: 245px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    
}



.modal-tittle{
    width: 188px;
    height: 24px;
    top: 83px;
    left: 138px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
color: #000000;

line-height: 24.2px;
text-align: center;}