.forStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding: 100px 0;
}

.number{
font-family: Montserrat Alternates;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: left;
 width:150px;
height: 35px;
padding: 10px 45px 10px 10px;
gap: 10px;
border-radius: 50px 50px ;
opacity: 0px;
background: #D7D7D7;
border: none;
box-shadow: 3px 3px  #7E7E7E ;
}

.checkGuess{
position: absolute;
    // background: #000000; 
width: 40px;
height: 35px;
top: 0px;
left: 110px;
border: none;
box-shadow: 3px 3px  #7E7E7E ;
background-image: url(../img/ft-svg/Group\ 104.png);
background-repeat: no-repeat;
background-position: center;
background-size: 20px;


}


.result{
font-family: Montserrat Alternates;
size: 12px;
display: flex;
font-weight: 400;
line-height: 14.63px;
color: #000;
opacity: 0px;
margin-left: 100px;

&.win{
    color: #039900;
}

&.lose{
    color:#ff0000;
}
}
