header{
    padding-top: 21px;
    padding-bottom: 21px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
}

.logo{
    color: black;
    margin-right: 81px;
}

.logo-svg{
    fill: #000!important;
}

.nav-list .list-item{
    margin: none;
}

.nav-list .list-item:not(:last-child){
    margin-right: 50px;
}

.nav-list:nth-child(2){
    position: relative;
}

.dropdown-content{
    display: flex;
    position: absolute;
    left: -40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 0px 0px 20px 20px;
    border-top: 0 ;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;

    padding: 10px 40px;
}

.dropdown-content.is-close{
    display: none;
}

.dropdown-content.is-open{
    display: flex;
}

.dropdown-content-item:not(:last-child){
    margin-bottom: 20px;
}

.user-container{
    display: flex;
    margin-left: auto;
}

.nav-list .list-item .nav-link,
.greeting,
.dropdown-content-item{
    color: $textColor;
    font-size: 14px;
    font-weight: 400;
}

.dropdown-btn{
    background-color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 400;
}

.button-theme{
    width: 40px;
    border: none;
    border-radius: 11px;
    background-color: #7A7A7A;
}

.greeting{
    margin-left: 51px;
}

