.modal{
    position: absolute;
    background-color: $backgroundColor;
    padding: 46px;
    width: 463px;
    height: 245px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    
}


.backdrop{
    position: relative;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.10);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    }


.backdrop.show-modal{
opacity: 1;
pointer-events: all;
}



.modal-tittle{
    position: absolute;
    width: 188px;
    height: 24px;
    top:83px;
    left: 145px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
color: #000000;
line-height: 24.2px;}



.close-modal-ft{
position: absolute;
top: 20;
right:  15;
}


.svg-modal-1{ position: absolute;
top: 69px;
left: 43px;


}

.svg-modal-2{
position: absolute;
top: 145px;
left: 87px;
}

.svg-modal-3{
    position: absolute;
    top: 69px;
    left: 391px;
  
    }

    .svg-modal-4{
        position: absolute;
top: 145px;
left: 347px;

        }