.backdrop{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.20);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal{
    position: absolute;
    background-color: red;
    width: 576px;
    height: 316px;
    padding: 46px;
}

.text-modal{
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    width: 392px;
    height: 60px;
}

.input-modal{
    display: inline-flex;
    padding: 10px 90px 10px 10px;
    align-items: flex-start;
    gap: 10px;
}