.backdrop{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.20);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal{
    position: absolute;
    background-color: red;
    width: 576px;
    height: 316px;
}