@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.items-js:not(:last-child) {
  border-bottom: 1px solid #000;
}

input {
  outline: none;
}

h1 {
  display: block;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 404px;
  margin-right: 403px;
  margin-top: 36px;
}

.hero-title {
  font-size: 24px;
  margin-left: 352px;
  margin-right: 352px;
}

.container {
  display: block;
  padding-left: 175px;
  padding-right: 175px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-top: 36px;
}

.rockScissorsPaper-button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #FFF;
}

.paper {
  background-image: url(/src/img/rock-scissor-spaper/paper.png);
}

.rock {
  background-image: url(/src/img/rock-scissor-spaper/rock.png);
}

.scissors {
  background-image: url(/src/img/rock-scissor-spaper/scissors.png);
}

.results {
  margin-left: 807px;
}

.computer {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 36px;
}

.dino-section {
  border-top: 1px solid black;
}

.dino-section-title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 36px;
}

.game {
  position: relative;
  width: 720px;
  height: 240px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.dino {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url("/src/img/dino/dino_game.png");
  background-size: 60px 60px;
}

.cactus {
  position: absolute;
  bottom: 0;
  left: 650;
  width: 30px;
  height: 40px;
  background-image: url("/src/img/dino/cactus_game.png");
  background-size: 30px 40px;
  animation: cactusAnim 1.5s infinite linear;
}

@keyframes cactusAnim {
  0% {
    left: 580px;
  }
  100% {
    left: -50px;
  }
}
.big-cactus {
  position: absolute;
  bottom: 0;
  left: 500;
  width: 35px;
  height: 55px;
  background-image: url("/src/img/dino/cactus_game.png");
  background-size: 35px 55px;
  transform: scale(-1, 1);
}

.container {
  position: relative;
}

.contact-list {
  font-style: Montserrat Alternates;
  position: absolute;
  top: 40px;
  left: 320px;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

.u-addres {
  position: absolute;
  background: #D7D7D7;
  border: none;
  left: 600px;
  top: 40px;
  padding: 10px 80px 10px 10px;
  gap: 10px;
  border-radius: 50px 50px;
  opacity: 0px;
}

.num-li {
  font-family: Montserrat Alternates;
  font-size: 12px;
  line-height: 20.4px;
  text-align: left;
  color: #000000;
}

.subscribe {
  font-family: Montserrat Alternates;
  font-size: 12px;
  color: #FFFFFF;
  width: 107px;
  height: 35px;
  position: absolute;
  top: 40px;
  left: 940;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 50px 50px;
  background: #000000;
  border: none;
  text-align: center;
}

.PS {
  position: absolute;
  top: 99px;
  left: 600;
  color: #000000;
  font-family: Montserrat Alternates;
  font-size: 10px;
  line-height: 7.31px;
  text-align: left;
}

.logo-foot {
  fill: currentColor;
  position: absolute;
  top: 90px;
  left: 320px;
}

.modal-ft {
  background: #FFFFFF;
  width: 463px;
  height: 245px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.modal-tittle {
  width: 188px;
  height: 24px;
  top: 83px;
  left: 138px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24.2px;
  text-align: center;
}/*# sourceMappingURL=index.css.map */