@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.items-js:not(:last-child) {
  border-bottom: 1px solid #000;
}

input {
  outline: none;
}

h1 {
  display: block;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 404px;
  margin-right: 403px;
  margin-top: 36px;
}

.hero-title {
  font-size: 24px;
  margin-left: 352px;
  margin-right: 352px;
}

input {
  border-radius: 20px 0px 0px 20px;
  background: #D7D7D7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.button-input {
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  background: #000;
}

main {
  background-image: url(../img/main/main.svg);
  background-size: cover;
}

.container {
  display: block;
  padding-left: 175px;
  padding-right: 175px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

header {
  padding-top: 21px;
  padding-bottom: 21px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
}

.logo {
  color: black;
  margin-right: 81px;
}

.nav-list .list-item {
  margin: none;
}

.nav-list .list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list:nth-child(2) {
  position: relative;
}

.dropdown-content {
  display: flex;
  position: absolute;
  left: -40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
  border-top: 0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  padding: 10px 40px;
}

.dropdown-content.is-close {
  display: none;
}

.dropdown-content.is-open {
  display: flex;
}

.dropdown-content-item:not(:last-child) {
  margin-bottom: 20px;
}

.user-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list .list-item .nav-link,
.greeting,
.dropdown-content-item {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.dropdown-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
}

.button-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
}

.sun-icon {
  display: none;
}

.greeting {
  margin-left: 51px;
}

.night-theme {
  background-color: #b8b2b2;
}

.number {
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 14.63px;
  text-align: left;
  width: 150px;
  height: 35px;
  padding: 10px 45px 10px 10px;
  gap: 10px;
  border-radius: 50px 50px;
  opacity: 0px;
  background: #D7D7D7;
  border: none;
  box-shadow: 3px 3px #7E7E7E;
}

.checkGuess {
  width: 50px;
  height: 50px;
}

.result {
  left: 750px;
  font-family: Montserrat Alternates;
  size: 12px;
  margin-left: 440px;
  display: flex;
  font-weight: 400;
  line-height: 14.63px;
  text-align: right;
  color: #039900;
  width: 524px;
  height: 115px;
  opacity: 0px;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-top: 36px;
}

.rockScissorsPaper-button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
}

.paper {
  background-image: url(/src/img/rock-scissor-spaper/paper.png);
}

.rock {
  background-image: url(/src/img/rock-scissor-spaper/rock.png);
}

.scissors {
  background-image: url(/src/img/rock-scissor-spaper/scissors.png);
}

.results {
  margin-left: 807px;
}

.computer {
  margin-left: 420px;
  margin-right: 420px;
  margin-bottom: 36px;
}

.section-dinosaur {
  margin-bottom: 36px;
}

.dinosaur-section-title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.game {
  position: relative;
  width: 720px;
  height: 240px;
  border-bottom: 2px solid #5a5a5a;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.dinosaur {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url("/src/img/dinosaur/dino_game.png");
  background-size: 60px 60px;
}

.cactus {
  position: absolute;
  bottom: 0;
  left: 650;
  width: 35px;
  height: 55px;
  background-image: url("/src/img/dinosaur/cactus_game.png");
  background-size: 35px 55px;
  animation: cactusAnim 1000ms infinite linear;
  animation-play-state: paused;
}

@keyframes cactusAnim {
  0% {
    left: 650px;
  }
  100% {
    left: -50px;
  }
}
.jump {
  animation: jump 300ms linear;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 40px;
  }
  40% {
    bottom: 60px;
  }
  60% {
    bottom: 80px;
  }
  80% {
    bottom: 60px;
  }
  100% {
    bottom: 0px;
  }
}
.button-start {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.button-start:hover, .button-start:focus {
  color: black;
  background-color: rgb(177, 177, 177);
}

.container {
  position: relative;
}

.contact-list {
  position: absolute;
  top: 40px;
  left: 320px;
  font-size: 12px;
  text-align: left;
  list-style: none;
  color: #000000;
}

.u-addres {
  position: absolute;
  background: #D7D7D7;
  border: none;
  left: 600px;
  top: 40px;
  padding: 10px 10px 10px 10px;
  gap: 10px;
  border-radius: 50px 50px;
  opacity: 0px;
}

.num-li {
  color: #000000;
  font-size: 12px;
  line-height: 20.4px;
  text-align: left;
}

.subscribe {
  font-family: Montserrat Alternates;
  font-size: 12px;
  color: #FFFFFF;
  width: 107px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 940;
  padding: 10px 10px 10px 10px;
  gap: 10px;
  border-radius: 50px 50px;
  background: #000000;
  border: none;
}

.PS {
  position: absolute;
  top: 99px;
  left: 600;
  color: #000000;
  font-family: Montserrat Alternates;
  font-size: 10px;
  line-height: 7.31px;
  text-align: left;
}

.logo-foot {
  position: absolute;
  width: 165px;
  height: 70px;
  top: 50px;
  left: 60px;
}

.modal-backdrop {
  position: relative;
  opacity: 1;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #FFF;
  border-radius: 20px;
  width: 576px;
  height: 316px;
  padding: 46px;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
}

.modal-title {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
}

.text-modal {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: Inter;
  font-size: 12px;
  width: 392px;
  margin-bottom: 40px;
}

.form-text {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  margin-bottom: 18px;
}

.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-modal {
  display: block;
  border: none;
  width: 169px;
  border-radius: 20px;
  margin-bottom: 18px;
  background: #D7D7D7;
  padding: 10px 90px 10px 10px;
  align-items: flex-start;
  gap: 10px;
}

.save-modal {
  color: #FFF;
  padding: 10px 20px;
  border-radius: 20px;
  width: 105px;
  border: none;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 90px 10px 10px;
}

.images-li-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 154px;
  left: 41px;
}

.images-li-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 230px;
  left: 85px;
}

.images-li-3 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 154px;
  left: 505px;
}

.images-li-4 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 230px;
  left: 461px;
}/*# sourceMappingURL=index.css.map */